body {
    background-color: rgb(121, 185, 245);
}

h1 {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#corpo {
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer p {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}